.body {
    font-family: sans-serif;
    background-color: lightgrey;
    /*margin-top: 75px;*/
}

.center {
    text-align: center;
}


.text-big {
    font-size: 200%;
    color: black;
}


.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
}

.container {
    max-width: 862px;
    margin: 0 auto;
    color: #720a94;
    padding-top: 60px;
    padding-left: 8px;
    padding-right: 8px;
    Font-Family: sans-serif;
}
